
body {
    background-color: #CCC;
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

/* For the control boxes */
#controls-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    height: 64px;

    display: flex;
    gap: 2rem;
    justify-content: center;

    z-index: 10;
}

.controls {
    height: 64px;

    background-color: #EEE;
    box-shadow: #0005 0 0 2rem;
    border-radius: 8px 8px 0 0;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.controls > div {
    height: 48px;

    background-color: #DDD;
    border-radius: 4px;
}

/* For box name and text fields */
h2 {
    font-size: 1.5rem;
    padding: 0 calc((64px - 1.5rem) / 2);
    margin: 0;
}

/* For brush selector */
#brush {
    display: flex;
}

#brush > img {
    opacity: 50%;
}

#brush > img:hover {
    scale: 125%;
}

#brush > img.selected {
    opacity: 100%;
}


/* For color selector */
#color {
    display: flex;
    align-items: center;
}

#color-selector {
    margin-left: 16px;
    width: 32px; height: 32px;
    border: none;
    outline: none;
}

/* For brush size selector */
#size {
    display: flex;
    align-items: center;
}

#small-dot, #large-dot {
    background-color: #000;
    border-radius: 100%;
}

#small-dot { width: 8px; height: 8px; margin: calc(24px - 4px); }
#large-dot { width: 32px; height: 32px; margin: calc(24px - 16px); }


/* For selecting the board bro */
#board-select {
    display: flex;
    width: max-content;
    align-items: center;
}





/* Canvas and brush cursor */
canvas {
    background-color: white;
    position: fixed;
    box-shadow: #0001 0 0 7rem;
}

#cursor {
    position: fixed;
    top: 0; left: 0;
    width: 4px; height: 4px;

    background-color: #0002;
    border: 1px solid #0004;
    border-radius: 50%;
    pointer-events: none;

    transform: translate(-50%, -50%);
}